<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Title</title>
    <link rel="stylesheet" href="/assets/dist/main.css" />
</head>

<body class="">

{% if is_admin %}
    <div class="bg-blue-500 p-4 flex justify-end space-x-4">
        <a href="/admin" class="bg-blue-700 text-white px-4 py-2 rounded-md hover:bg-blue-800">Dashboard</a>
        <a href="/logout" class="bg-blue-700 text-white px-4 py-2 rounded-md hover:bg-blue-800">Logout</a>
    </div>
{% endif %}

<div class="my-4">
    {% block content %}{% endblock %}
</div>

<script src="/assets/dist/main.bundle.js"></script>

</body>
</html>
