{% extends 'base.twig' %}

{% block content %}
<div class="container mx-auto text-center">
    <h1 class="text-6xl font-bold my-8">404</h1>
    <p class="text-xl mb-4">{{ message }}</p>
    <a href="/" class="text-blue-500 hover:underline">Return to job listings</a>
</div>
{% endblock %}
